{% ckan_extends %}

{% block resource_item_title %}
<a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
  {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
  {{ h.popular('views', res.tracking_summary.total, min=10) }}
</a>
{% endblock %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="btn-group">
      {% block resource_item_explore_links %}
        <a href="{{ url }}" class="btn">
          {% if res.has_views %}
            <i class="icon-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="icon-info-sign"></i>
            {{ _('More Info') }}
          {% endif %}
        </a>
        <a href="{{ res.url }}" class="btn btn-primary resource-url-analytics {% if 'Display' in res.accept_popup %} clickpopup {% endif %}" target="_blank">
          {% if res.resource_type in ('listing', 'service') %}
            <i class="icon-eye-open"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
            <i class="icon-key"></i> {{ _('API Endpoint') }}
          {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
            <i class="icon-external-link"></i> {{ _('Go to resource') }}
          {% else %}
            <i class="icon-download"></i> {{ _('Download') }}
          {% endif %}
        </a>
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}

